# Bzzoiro Sports Data
BZZOIRO_API_TOKEN=TU_TOKEN_AQUI
BZZOIRO_API_BASE=https://sports.bzzoiro.com/api/v2
BZZOIRO_WORLD_CUP_LEAGUE_ID=27
BZZOIRO_WORLD_CUP_SEASON_ID=188
BZZOIRO_WORLD_CUP_DATE_FROM=2026-06-11
BZZOIRO_WORLD_CUP_DATE_TO=2026-07-19
